<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link rel="stylesheet" href="/style/style.css"/> 
            <link rel="stylesheet" href="/style/dashboard.css"/>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
            
    </head>
    <body>
    <%- include('../header.ejs') -%>
    <main class="table">
        <!-- table header avec le filtre date recherche et filtre de recherche -->
        <section class="dashboard">
            <div class="dashboard_header">
                <div id="filterbtn">
                    <button>
                        Filtre
                    </button>
                </div>
                <div class="search_box">  
                    <input type="search" placeholder="Recherche Client..." id="myInput" oninput="myFunction()">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            
            <div class="main_pop_filter">
                <div class="date-filter">
                    <input type="checkbox" id="activateDateFilter">
                    <label for="activateDateFilter">Enable Date Filter</label>
                </div>
                <div id="reportrange">
                    <i class="fa fa-calendar"></i>
                    <span id="dateRangeLabel">Select Date Range</span>
                    <i class="fa fa-caret-down"></i>
                </div>
                
            
                <div class="pop_filter">
                    <h1>Priorité</h1>
                    
                        <div class="filter_box">
                            <% priority.forEach(priority => { %>
                            <div>
                                <input type="checkbox" id="<%= priority.priority_name %>" value="<%= priority.priority_name.toLowerCase().replace(' ', '_') %>" name="filterPriority">
                                <label for="<%= priority.priority_name %>"><%= priority.priority_name %></label>
                            </div>
                            <% }); %>
                        </div>
                </div> 
            
                <div class="pop_filter">
                    <h1>Statuts</h1>
                    <div class="filter_box">
                            <% status.forEach(status => { %>
                            <div>
                                <input type="checkbox" id="<%= status.status_name %>" value="<%= status.status_name.toLowerCase().replace(' ', '_') %>" name="filterStatus">
                                <label for="<%= status.status_name %>"><%= status.status_name %></label>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
        </section>
<!-- table body avec les contenus de la table de ticket -->
        <section class="table_body">
            <table id="ticketTable">
                <thead>
                    <tr>
                        <th ><p>Contact</p></th>
                        <th ><p>Client <span class="icon-arrow" data-column="1" data-order="asc">&UpArrow;</span></p></th>
                        <th ><p>Serveurs <span class="icon-arrow" data-column="2" data-order="asc">&UpArrow;</span></p></th>
                        <th ><p>Crée le <span class="icon-arrow" data-column="3" data-order="asc">&UpArrow;</span></p></th>
                        <th ><p>Modification Par <span class="icon-arrow" data-column="4" data-order="asc">&UpArrow;</span></p></th>
                        <th ><p>Priorité <span class="icon-arrow" data-column="5" data-order="asc">&UpArrow;</span></p></th>
                        <th ><p>Status <span class="icon-arrow" data-column="6" data-order="asc">&UpArrow;</span></p></th>
                        <th ><p>Message</p></th>
                    </tr>
                </thead>
                
                <tbody>
                    <% if (tickets && tickets.length > 0) { %>
                        <% tickets.forEach(ticket => { %>
                            <tr>
                                <td><%= ticket.user_firstname %> <%= ticket.user_lastname %><br><%= ticket.user_email %></td>
                                <td><%= ticket.company_name %></td>
                                <td><%= ticket.ubybox_serial_number%></td>
                                <td>
                                    Ticket #<%= ticket.ticket_id %><br>
                                    Le: <%= new Date(ticket.ticket_date_create).toLocaleDateString('fr-FR') %>
                                </td>
                                <td>
                                    <%= ticket.staff_first_name %> <%= ticket.staff_last_name %><br>
                                    Le: <%= ticket.message_date_create ? new Date(ticket.message_date_create).toLocaleDateString('fr-FR') : 'N/A' %>
                                </td>
                                <td>
                                    <p class="status<%= ticket.priority_name.toLowerCase().replace(' ', '_')  %>">
                                        <%= ticket.priority_name  %>
                                    </p>
                                </td>
                                <td>
                                    <p class="status<%= ticket.status_name.toLowerCase().replace(' ', '_') %>"><%= ticket.status_name %></p>
                                </td>
                                <td>
                                    <i class="fa-regular fa-message fa-2x"></i>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="8">No tickets available</td>
                        </tr>
                    <% } %>
                </tbody>

            </table>
        </section>
    </main>
      </body>
      <script src="/script/dashboard.js"></script>
</html>