<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update historique</title>
    <link rel="stylesheet" href="/style/history.css" />
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <%- include('../header.ejs') -%>
    <main id="mainUpdate">
      
      <div id="containerUpdate">
        <div class="containerBackButton"><a href="/server/<%- server_id -%>/history" class="back-button">Retour</a></div>
      <div class="main">
        
        <h1>Update d'historique <%- history.history_id %></h1>
        
        <form action="/server/<%- server_id -%>/history/update/<%- history.history_id %>" method="post">
          
          <!-- Menu déroulant pour le type d'événement  -->
          <label for="eventType">Type d'événement :</label>
          <select id="eventType" name="id_event_type" >
            <option value="" >--Sélectionnez un type--</option>
            <option value="1" <%= (history.id_event_type == 1) ? 'selected' : '' %>>Panne</option>
            <option value="2" <%= (history.id_event_type == 2) ? 'selected' : '' %>>Intervention</option>
            <option value="3" <%= (history.id_event_type == 3) ? 'selected' : '' %>>Mise à jour</option>
          </select>
          
          <input type="hidden" id="serial_number_ubybox" value="0" name="serial_number_ubybox" ></input>
          <input type="hidden" value="0" id="id_staff" name="id_staff" ></input>
          
          <!-- Champ pour sélectionner la date -->
          <label for="eventDate">Date de l'événement :</label>
          <!-- Cette méthode récupère la date locale directement, sans passer par UTC, donc il n'y aura pas de décalage de jour. -->
          <input type="date" id="eventDate" value="<%= history.history_date.getFullYear() + '-' + ('0' + (history.history_date.getMonth() + 1)).slice(-2) + '-' + ('0' + history.history_date.getDate()).slice(-2) %>" name="history_date" />
           <!-- Creer une checkbox qui renseigne la date et l'heure actuelle au clic -->
           <label for="dateCheckbox" 
           >Cochez pour renseigner la date et l'heure actuelle :
         </label>
         <input type="checkbox" id="dateCheckbox" name="history_date_checkbox"/>
         <p id="dateTimeDisplay"></p>
          <!-- Champ pour entrer une description -->
          <label for="eventDescription">Description :</label><br />
          <textarea
            id="eventDescription"
            name="history_details"
            rows="4"
            cols="50"
            placeholder="Entrez une description de l'événement ici..."
          ><%- history.history_details %></textarea>

          <!-- Bouton pour télécharger un document -->
         <label for="eventDocument">Télécharger un document :</label>
          <input type="file" id="eventDocument" value="<%- history.history_attachment %>" name="history_attachment" /> 

          <!-- Bouton pour valider le formulaire -->
         <div class="validateButton">
          <button class=submitButton type="submit">Valider</button></div>
        </form>


      </div>
    </div>
    </main>
    <script src="/script/historyAdd.js"></script>
  </body>
</html>
